@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Press+Start+2P&display=swap');

body, h1,{
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-image: url(../img/setup.jpg);
  font-family: 'Marcellus SC', serif;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: rgb(150, 225, 100);
}

h2 {
  font-size: 21px;
  text-decoration: underline;
  color: red;
}

h3{
  color: white;
  font-family: 'Press Start 2P', cursive;
}


h4 {
  color: rgb(150, 225, 100);
  background-color: black;
  border-radius: 21px;
  text-align: center;
  font-size: 21px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 21px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px
}

iframe {
  display: block;
  width: 100%;
  height: 400px;
}

/* Selectores personalizados */

.contenedor {
  width: 40%;
  background-color: rgb(150, 0, 150);
  margin: 50px auto;
  border: 5px solid black;
  border-radius: 21px;
  padding: 5px
}

.encabezado {
  margin: 0;
  color: white;
  background-color: black;
  border-radius: 21px;
  padding: 21px;
  font-size: 21px;
  text-align: center;
}

.cuerpo {
  padding: 20px;
  font-size: 18px;
}

.tarjeta_setup {
  word-spacing: 15px;
  line-height: 30px;
  text-align: center;
}

.pie {
  padding: 21px;
  text-align: center;
}

.amd {
  color: white;
  text-align: center;
  font-size: 30px;
  background-image: url(../img/amd.jpg);
  background-size: contain;
  background-position: top;
  display: block;
  width: auto;
  height: 100%;
}
.ryzen {
  color: white;
  text-align: center;
  font-size: 30px;
  background-image: url(../img/ryzen.jpg);
  background-size: contain;
  background-position: top;
  display: block;
  width: auto;
  height: 100%;
}

.video_embed {
  text-align: center;
}
.video {
  padding: 10px;
}

.png {
  display: block;
  width: 70px;
  margin: auto;
}

.experiencia h3 {
  text-align: center;}
.experiencia p {font-size: 18px;}

.vinculo {
  color: rgb(150, 225, 100);
}
.vinculo:hover {
  color: rgb(255, 0, 0);
  background-color: rgb(150, 225, 100);
  border-radius: 3px;
  text-decoration: none;
}

.menu {
  background-color: black;
  border-radius: 21px;
  text-align: center;
}
.horizontal {
  display: inline-block;
  padding: 10px;
}
